<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, 
        initial-scale-1, shrink-to-fit=no">
        <title>Home Gardening</title>
        <link href="../static/css/stylescrop.css" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
        </style>
        <script src="https://kit.fontawesome.com/fb641a1906.js" crossorigin="anonymous"></script>
    </head>

<body>
  <div class="veggiegrid">
  <div class="kale">
        <h1>Kale</h1>
        <h2>Health Benefits:</h2>
        <h5>1. Kale contains vitamin A, which is important for eye and bone health. <br> 2. Kale contains vitamin C, which aids in cold and chronic disease prevention. <br> 3. Kale contains vitamin K, which is beneficial for blood clotting and bone building.</h5>
        <h2>Growing Tips:</h2>
        <h5>1. Space your kale 18-24 inches apart. <br> 2. Plant your kale in an area with full sun. <br> 3. Plant kale in well-drained, fertile soil that has a pH of 6.5 - 6.8.</h5>
    </div>

    <div class="zucchini">
        <h1>Zucchini</h1>
        <h2>Health Benefits: </h2>
        <h5>1. Zucchini is high in antioxidants. <br> 2. Zucchini reduces blood sugar levels. <br> 3. Zucchini contributes to a healthy digestion. </h5>
        <h2>Growing Tips:</h2>
        <h5>1. Use natural or organic pesticide to grow Zucchini. <br> 2. Water Zucchini generously. <br> 3. Compost and mulch your soil.</h5>
      
    </div>

    <div class="eggplant">
        <h1>Eggplant</h1>
        <h2>Health Benefits: </h2>
        <h5>1. Eggplants are high in antioxidants. <br> 2. Eggplants may reduce cholestrol. <br> 3. Eggplants may promote blood sugar control. </h5>
        <h2>Growing Tips:</h2>
        <h5>1. Space eggplant 24 to 36 inches apart. <br> 2. Soaker hoses are a great option for growing eggplant. <br> 3. The more frequently the fruit sets are harvested, the greater the fruit set.</h5>

    <img src = "" alt = ""
        
    </div>

  </div>
</body>