<!DOCTYPE HTML>
<html lang="en">
  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale-1, shrink-to-fit=no">
        
      
        <title>Home Gardening</title>                      
        <link href="static/css/style.css" rel="stylesheet">

      
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"
          type="text/css">

        <link href="https://kit.fontawesome.com/fb641a1906.js"                   rel="stylesheet" 
          type="text/css">
  
          
    </head>

  <body>
    
    <div class="header_container">
      <header class="header"><em>Home Farmlutions</em></header>
    </div>

    <nav class="navbar">
      <ul class = "nav">
        <a  href="https://www.youtube.com/watchv=NlS_dTDsHHQ&t=5s">Basic Startup</a>
      <a href="/templates/cropoptions.html">Crop Options</a>
      </ul>
    </nav>

    <div class="photos">
      <div class="image_one"></div>
      <div class="image_two"></div>
      <div class="image_three"></div>
      <div class="image_four"></div>
    </div>

    <div class="user_input">
      <div class="formbox">
        <div class="headertext">Fill out the information below to get details about your prime gardening conditions.
        </div>
    <form method="post" action="/mothcalc">
                <label for="user_address">What is your home address? </label><br>
                <input type="text" font-size = 30px name="user_address" id="name" value="" required />
            
                <label for="user_choice">Which plant would you like to grow the most: kale, zucchini, or eggplant? </label><br>
                <input type="text" name="user_choice" id="name" value="" required />
            
<!--                 <button onclick= "document.getElementById('myInput').value = ''">Submit</button> -->
                    <input type='submit'>
            </form>
      </div>
    </div>

    <div class="weather_forecast">
        <div class="text_box">
            <h1>Weather Forecast for the Next 7 Days</h1>
            <h4>It's important that you keep a track on the week's precipitation and weather to accurately take care of your plants.</h4>
        </div>
        <div class="embedded">
            <iframe src="https://www.wral.com/weather/#7-day" title="WRAL 7 Day Weather" width= 100% height= 600px></iframe>
        </div>
    </div>

    <div class="footer">
        <div class="footertext">Contact us with any questions.</div>
    </div>

  </body>
</html>